body { 
  margin: 0; 
  padding: 0;
  background: #ffffff;
  font-family: 'Helvetica';
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%;
  height: 100%;
}

#console {
  position: absolute;
  font-family: Helvetica;
  width: 292px;
  height: 141px;
  top: 61px;
  margin: 19px;
  padding: 10px 10px;
  text-align: left;
  background-color: #ffffff;
}

h2 { 
    font-size: 26px;
    margin: 0% 15%;
    text-align: left;
    color: #006d2c;
    font-size:40px;
}

h3 {
    margin: 0px;
}

#text {
    margin: 20px 15% ;
    text-align: justify;
}

.pictures{
    margin: 3% 10%;
    text-align: center;
}

.pictures2{
    margin: 3% 14%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*width:23%*/
    min-width: 250px;
    max-width: 300px;
}

.column2 {
    position: relative;
    display: inline-block;
} 

.column3 {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    transition: transform .2s;
}

.column3:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 

.graph1{
    margin:1% 10%;
    text-align: center;
}    

.graph2{
    margin: 30%;
    text-align: center;
}

.slider {
  margin-bottom: 20px;
  width: 100%;
}

element.style {
  height: 130px;
}

#toggle {
  position: absolute;
  font-family: Helvetica;
  background-color: #006d2c;
  left: 17px;
}

.rounded-toggle {
  position: absolute;
  font-family: Helvetica;
  text-align: center;
}
.rounded-toggle label {
  color: #ffffff;
}

.rounded-toggle label:hover {
  color: #dbdbdb;
}

input[type=range] {
  width: 155px;
  text-align: left;
  margin-right: 2px;
}

input[type=range]::-webkit-slider-thumb {
  border-radius: 2px;
  background: #006d2c;
  cursor: pointer;
  -webkit-appearance: none;
}

.legend {
  margin-left: 1px;
  margin-right: 6px;
  margin-bottom: 7px;
}
.legend label,
.legend span {
  display: block;
  float: left;
  height: 8.2px;
  width: 14.2%;
  text-align: center;
  font-size: 11px;
  font-family: Helvetica;
  color: #464646;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica';
}

a {
  text-decoration: none;
  color: #006d2c;
  transition: color 0.3s ease;
}

a:hover {
  color: #006d2c;
}

#menuToggle {
  display: block;
  position: relative;
  top: 24px;
  left: 14px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  text-align: justify;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #006d2c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #006d2c;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 345px;
  height: 400px;
  text-align: justify;
  margin: -95px 0 0 -50px;
  padding-left: 55px;
  padding-right: 30px;
  padding-top: 107px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu p {
  font-size: 12px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

strong, b {
  font-weight: bold;
  color: black;
}

/* Mapbox base

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }

:focus { outline:0; }

*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }

[type=submit],
button,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  font:15px/20px 'Open Sans', sans-serif;
}

body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  -webkit-font-smoothing: antialiased;
}

/* Buttons */
.button {
  background-color:#3887be;
  text-align:center;
  color:#fff;
  display:inline-block;
  margin:0px;
  padding:10px;
  position:relative;
  border:none;
  cursor:pointer;
  border-radius:3px;
  white-space:nowrap;
  text-overflow:ellipsis;
  /* Protects button metrics in .prose context */
  font-family:'Open Sans Bold', sans-serif;
  line-height:20px;
  font-size:12px;
  -webkit-appearance:none;

  /* The button element needs to be forced this */
  -webkit-font-smoothing:antialiased;
  }

.button.short {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.button.stroke {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #3887be inset;
  color: #3887be;
}

.button.stroke.short {
  padding-top: 5px;
  padding-bottom: 4px;
}

.button.stroke:hover {
  background-color: transparent;
  color: #52a1d8;
  box-shadow: 0px 0px 0px 2px #52a1d8 inset;
}

.button.stroke.active {
  color: white;
  background-color: #3887be;
  box-shadow: 0px 0px 0px 2px transparent inset;
}

.button:hover,
.button.active {
  color:#fff;
  }

.dark .button.stroke {
  border: none;
  box-shadow: 0px 0px 0px 2px white inset;
  color: white;
}

.dark .button.stroke:hover,
.dark .button.stroke.active {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255,255,255,.5) inset;
  color: rgba(255,255,255,.75);
}

.dark .button.stroke.quiet {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255,255,255,.25)inset;
  color: rgba(255,255,255,.5);
}

.dark .button.quiet.stroke:hover,
.dark .button.quiet.stroke.active {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px rgba(255,255,255,.75)inset;
  color: rgba(255,255,255,.75);
}

.button:focus {
  box-shadow: inset 0 0 0 3px rgba(0,0,0,0.1);
}

.button:hover,
.button.active {
  background-color:#52a1d8;
  }

.button.loud {
  background-color:#8889cc;
  }
.button.fill-purple.active,
.button.fill-purple:hover,
.button.loud.active,
.button.loud:hover {
  background-color:#a4a4e5;
  }

.button.quiet {
  background-color:rgba(0,0,0,0.25);
  color:#fff;
  }
.button.quiet.active,
.button.quiet:hover {
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  box-shadow:
    inset rgba(0,0,0,0) 0 0 0,
    inset rgba(0,0,0,0) 0 0 0;
  }

.button.fill-teal.active,
.button.fill-teal:hover {
  background-color:#5bc9bf;
  }
.button.fill-darkblue.active,
.button.fill-darkblue:hover {
  background-color:#465f77;
  }
.button.fill-cyan.active,
.button.fill-cyan:hover {
  background-color:#55ccea;
  }
.button.fill-blue.active,
.button.fill-blue:hover {
  background-color:#52a1d8;
  }
.button.fill-darken0.active,
.button.fill-darken0:hover {
  background-color:rgba(0,0,0,0.25);
  }
.button.fill-darken1.active,
.button.fill-darken1:hover {
  background-color:rgba(0,0,0,0.5);
  }
.button.fill-darken2.active,
.button.fill-darken2:hover {
  background-color:rgba(0,0,0,0.75);
  }
.button.fill-lighten0.active,
.button.fill-lighten0:hover {
  background-color:rgba(255,255,255,0.25);
  }
.button.fill-lighten1.active,
.button.fill-lighten1:hover {
  background-color:rgba(255,255,255,0.5);
  }

.button.stroke.quiet {
  background: transparent;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.25) inset;
  color: rgba(0,0,0,0.5);
}

.button.stroke.quiet:hover {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset;
  color: rgba(0,0,0,.5);
}

.button.stroke.quiet.active:hover,
.button.stroke.quiet.active {
  box-shadow: 0px 0px 0px 2px transparent inset;
  background: rgba(0,0,0,0.5);
  color: white;
}

.button.stroke.loud.active {
  box-shadow: 0px 0px 0px 2px transparent inset;
  color: white;
  background-color:#8889cc;
}

.dark .button.quiet {
  color:#fff;
  background-color:rgba(255,255,255,0.10);
  }

.dark .button.quiet.active,
.dark .button.quiet:hover {
  background-color:rgba(255,255,255,0.25);
  }

.button.disabled,
.button:disabled {
  background:rgba(0,0,0,.1);
  color:rgba(0,0,0,0.25);
  cursor: default;
  }

.button.disabled:hover,
.button:disabled:hover {
  background:rgba(0,0,0,.1);
  }

.button.disabled:focus,
.button:disabled:focus {
  box-shadow:none;
  }

.dark .button.disabled,
.dark .button:disabled {
  background:rgba(255,255,255,.05);
  color: rgba(255,255,255,.5);
  }

.dark .button.disabled:hover,
.dark .button:disabled:hover {
  background:rgba(255,255,255,.05);
  }

/* Tab style for links that toggle between views
 * NOTE: THE .tabs class in DEPRECATED - for a similar UI component use rounded-toggle ;
 */
.tabs {
  display:inline-block;
  }
  .tabs,
  .pill.tabs {
    -webkit-border-radius:3px;
            border-radius:3px;
    }
  .tabs > a {
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(0,0,0,0.25);
    background:transparent;
    color:rgba(0,0,0,.5);
    font-family:'Open Sans Bold', sans-serif;
    font-size:12px;
    text-align:center;
    display:inline-block;
    height:40px;
    margin:0;
    padding:10px;
    white-space:nowrap;
    text-overflow:ellipsis;
    }
    .tabs > * {
      border:0 solid rgba(0,0,0,0.25);
      border-right-width:1px;
      }
    .tabs > *:first-child {
      border-left-width:1px;
      border-radius: 3px 0 0 3px;
      }
    .tabs > *:last-child {
      border-radius: 0 3px 3px 0;
      }
    .tabs > *:hover {
      background:rgba(0,0,0,0.05);
      color:rgba(0,0,0,.5);
      }
    .tabs > *.active {
      background:rgba(0,0,0,0.1);
      color:rgba(0,0,0,.5);
      }

.pill {
  display:inline-block;
  }
  .pill > * {
    border-radius:0 0 0 0;
    border:0 solid white;
    border-left-width:1px;
    }
    .pill > *:first-of-type {
      border-radius:3px 0 0 3px;
      border-left-width:0;
      }
    .pill > *:last-of-type {
      border-radius:0 3px 3px 0;
      }
    .pill > *:only-child {
      border-radius:3px;
      }

.pill .button.stroke {
  border: none;
  box-shadow: 0px 0px 0px 2px #3887be inset;
  border-right-width: 2px;
  border-left-width: 0;
}
.pill .button.stroke:hover {
  background-color: transparent;
  color: #52a1d8;
  box-shadow: 0px 0px 0px 2px #52a1d8 inset;
}

.pill .button.stroke:not(:first-of-type) {
    margin-left: -2px;
}

/* Vertical pill if pill contents is full width */
.pill > .col12 {
  text-align: left;
  border-bottom-width:1px;
  border-left-width:0;
  }
  .pill > .button.stroke.col12:not(:first-of-type)  {
  margin-left: 0px;
  margin-top: -2px;
  }
  .pill > .col12:first-of-type {
    border-radius:3px 3px 0 0;
    }
  .pill > .col12:last-of-type {
    border-radius:0 0 3px 3px;
    }
  .pill > .col12:only-child,
  .pill > .col12:only-of-type {
    border-radius: 3px;
    }

.fill-lighten1 .pill > *,
.fill-lighten2 .pill > *,
.fill-lighten3 .pill > * {
  border-color:#fff;
  border-color:rgba(255,255,255,0.5);
  }

.pill > .stroke { box-shadow: 0px 0px 0px 2px #3887be inset; }
.pill > .quiet.stroke { box-shadow: 0px 0px 0px 2px rgba(0,0,0,.25) inset; }
.pill > .loud.stroke { box-shadow: 0px 0px 0px 2px #8889cc inset; }

.pill input[type=text] {
  border:1px solid rgba(0,0,0,0.1);
  border-radius:0;
  }

.pill input[type=text]:focus {
  border:1px solid rgba(0,0,0,0.25);
  }

/* Pill style for input followed by button */
.input-pill input[type='text'],
.input-pill input[type=text]:focus { border-right-width: 0;}

.input-pill input[type='text'] + .button {
  border-left-width: 0;
  border-radius: 0 3px 3px 0;
}

/* make your pills toggles */
.toggle * {
  width:40px;
  padding:0;
  overflow:hidden;
  white-space:nowrap;
  }
.toggle .big.button.icon:not(.active) {
  padding-left:0;
  }
.toggle .active {
  background:#52a1d8;
  color:rgba(255,255,255,0.75);
  padding:10px;
  width:auto;
  color:#cdecf3;
  }

/* Rounded toggle for filtering/modifying lists */
.rounded-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 15px;
  vertical-align: middle;
  background: rgba(0,0,0,.1)
}

.dark .rounded-toggle { background: rgba(255,255,255,.1);}

.rounded-toggle > * {
  cursor:pointer;
  vertical-align: top;
  display: inline-block;
  border-radius: 16px;
  padding: 3px 10px;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  line-height: 20px;
}

.rounded-toggle > *:empty { padding-left: 5px; padding-right: 5px; }
.rounded-toggle > *:hover { color: rgba(0,0,0,0.75); }
.dark .rounded-toggle > * { color: white;}

.dark .rounded-toggle *:hover { color: rgba(255,255,255,0.75); }

.rounded-toggle input[type=radio] { display:none; }

.rounded-toggle input[type=radio]:checked + label,
.rounded-toggle .active { background: white; color: rgba(0,0,0,.5); }

.dark .rounded-toggle input[type=radio]:checked + label,
.dark .rounded-toggle .active { color: white; }

.short.rounded-toggle {
  margin-top: 3px;
  margin-bottom: 3px;
}

.rounded-toggle.short input[type=radio] + label,
.rounded-toggle.short > * {
  font-size: 10px;
  padding:0 7px;
}

img {
  max-width:100%;
  vertical-align:top;
  }
  .center img,
  img.center { margin-left:auto; margin-right:auto; }


hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  background:rgba(0,0,0,.05);
  }

textarea {
  height:80px;
  max-width:none;
  overflow:auto;
  resize:none;
  }
  textarea.resize { resize:both; }

select {
  margin-top: 1px;
  margin-bottom: 1px;
  }

  input[type=range],
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    margin:10px; 
    padding:10px; 
    border:0;
    }
  input[type=range] {
    display:inline-block!important;
    padding: 0px 0px; 
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 7px;
    border:2px solid transparent;
    cursor:pointer;
    }
    input[type=range]::-ms-fill-upper { background:transparent; }
    input[type=range]::-ms-fill-lower { background:rgba(255,255,255,0.25); }
  
  input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    cursor: pointer;
    animation: 0.2s;
    background: #c9c9c9;
    border-radius: 10px;
  }  
  /* Browser thingies */

  
  /* For whatever reason, these need to be defined
   * on their own so dont group them */
  input[type=range]::-webkit-slider-thumb {
    height:20px; 
    width: 20px;
    border-radius: 20px;
    margin-top: -6px;
    cursor: ew-resize;
    }
  input[type=range]::-ms-thumb {
    margin:0;padding:0;border:0;
    background:#006d2c;
    height:20px; width:20px;
    border-radius:10px;
    margin-top: -4px;
    cursor:ew-resize;
    box-shadow:#006d2c;
    }
  input[type=range]::-moz-range-thumb {
    margin:0;padding:0;border:0;
    background:#006d2c;
    height:20px; width:20px;
    margin-top: -3px;
    border-radius:10px;
    cursor:ew-resize;
    box-shadow:#006d2c;
    }
  
  input[type=range]:disabled::-moz-range-thumb { cursor: default;}
  input[type=range]:disabled::-ms-thumb { cursor: default;}
  input[type=range]:disabled::-webkit-slider-thumb { cursor: default;}
  input[type=range]:disabled { cursor: default; }
  

.checkbox input[type=checkbox] { display:none; }
.checkbox .button {
  cursor:pointer;
  padding:10px;
  }
  .checkbox .button:hover {
    background: rgba(0,0,0,0.025);
  }
  .checkbox input[type=checkbox]:checked + .button {
    background: rgba(0,0,0,0.05);
  }
  .checkbox input[type=checkbox] + .icon:before {
    background-color:#fff;
    margin-right:5px;
    box-shadow:0 0 0 1px rgba(0,0,0,0.25) inset;
    }
  .checkbox input[type=checkbox]:not(:checked) + .icon:before {
    content: '';
    }
  .dark.checkbox input[type=checkbox] + .icon:before,
  .dark .checkbox input[type=checkbox] + .icon:before {
    background-color:rgba(0,0,0,0.25);
    }

.pill.checkbox input[type=checkbox]:checked + .button {
  background-color:rgba(0,0,0,0.1);
}

.dark .pill.checkbox input[type=checkbox]:checked + .button,
.dark.pill.checkbox input[type=checkbox]:checked + .button {
  background-color:rgba(255,255,255,0.2);
}

.checkbox-pill input[type=checkbox] { display: none;}
.checkbox-pill input[type=checkbox] + *:before { background-color: rgba(0,0,0,0.25); border-radius: 2px;}
.checkbox-pill input[type=checkbox]:not(:checked) + *:before { content: '';}
.checkbox-pill input[type=checkbox]:checked + .button { background-color: #52a1d8;}
.checkbox-pill input[type=checkbox]:checked + .button.quiet { background-color: rgba(0,0,0,.5);}
.checkbox-pill input[type=checkbox]:checked + .button.loud { background-color: #a4a4e5;}
.dark.checkbox-pill input[type=checkbox]:checked + .button.quiet,
.dark .checkbox-pill input[type=checkbox]:checked + .button.quiet { background-color: rgba(255,255,255,0.25);}

.radio-pill input[type=radio] { display: none;}
.radio-pill input[type=radio] + .button:before { overflow: hidden;}
.radio-pill input[type=radio]:not(:checked) + .button:before { width: 0;}
.radio-pill input[type=radio]:checked + .button { background-color: #52a1d8;}
.radio-pill input[type=radio]:checked + .button.quiet { background-color: rgba(0,0,0,.5);}
.radio-pill input[type=radio]:checked + .button.loud { background-color: #a4a4e5;}
.dark.radio-pill input[type=radio]:checked + .button.quiet,
.dark .radio-pill input[type=radio]:checked + .button.quiet { background-color: rgba(255,255,255,0.25);}
